.button-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.format-group {
    display: flex;
    flex-direction: row;
}

.sample-group {
    display: flex;
    flex-direction: row;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.view-group {
    display: flex;
    flex-direction: row;
}

.fmt-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.fmt-btn > img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    vertical-align: middle;
}

.sample-btn {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-wrap: nowrap;
}

.sample-btn > img {
    width: 16px;
    height: 16px;
    object-fit: contain;
    vertical-align: middle;
}

.mode-btn {
    display: flex;
    align-items: center;
}