<div class = "main-banner">
    <img src="img/logo_256.png" class="logo" alt="logo"/>
    <div class="title-text">
        <h1>FracturedJson v5.0</h1>
        <div>A JSON formatter that produces human-readable but fairly compact output.</div>

        <div>
            <a href="https://github.com/j-brooke/FracturedJson/wiki" target="_blank" rel="noopener">
                Project Wiki
            </a>
            —
            <a href="https://github.com/j-brooke/FracturedJson/wiki/Options" target="_blank" rel="noopener">
                Formatting Options
            </a>
            —
            <a href="https://j-brooke.github.io/FracturedJson/" target="_blank" rel="noopener">
                Web Formatter
            </a>
            —
            <a href="https://github.com/j-brooke/FracturedJson/wiki/Available-Versions-and-Ports" target="_blank" rel="noopener">
                Implementations &amp; Ports
            </a>
        </div>
    </div>
</div>

@code {

}