<div class = "main-banner">
    <img src="img/logo_256.png" class="logo" alt="logo"/>
    <div class="title-text">
        <h1>FracturedJson v5.0</h1>
        <div>A JSON formatter that produces human-readable but fairly compact output.</div>

        <div>
            <a href="https://github.com/j-brooke/FracturedJson/wiki" target="_blank" rel="noopener">
                Wiki
            </a>
            &mdash;
            <a href="https://j-brooke.github.io/FracturedJson/" target="_blank" rel="noopener">
                Browser
            </a>
            &mdash;
            <a href="https://github.com/j-brooke/FracturedJson/wiki/.NET-Library" target="_blank" rel="noopener">
                .NET Library
            </a>
            <a href="https://www.nuget.org/packages/FracturedJson" target="_blank" rel="noopener">
                (NuGet)
            </a>
            &mdash;
            <a href="https://github.com/j-brooke/FracturedJsonJs" target="_blank" rel="noopener">
                Javascript
            </a>
            <a href="https://www.npmjs.com/package/fracturedjsonjs" target="_blank" rel="noopener">
                (npm)
            </a>
            &mdash;
            <a href="https://github.com/j-brooke/FracturedJson/wiki/Python" target="_blank" rel="noopener">
                Python
            </a>
            &mdash;
            <a href="https://marketplace.visualstudio.com/items?itemName=j-brooke.fracturedjsonvsc" target="_blank" rel="noopener">
                VS Code extension
            </a>
        </div>
    </div>
</div>

@code {

}