<div class="top-banner">
    <img src="logo_256.png" class="logo" alt="logo"/>
    <div class="title-text">
        <h1>FracturedJson</h1>
        <p>A JSON formatter that produces human-readable but fairly compact output.</p>
        <NavBar/>
    </div>
</div>


@code {

}
