@inherits LayoutComponentBase

<div class="page">
    <div class = "main-banner">
        <img src="logo_256.png" class="logo" alt="logo"/>
        <div class="title-text">
            <h1>FracturedJson v3</h1>
            <div>A JSON formatter that produces human-readable but fairly compact output.</div>
            <NavBar/>
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
