@page "/"

<div class="whole-sandbox">
    <div class="settings-sidebar">
        <SettingsPanel State="State"/>
    </div>

    <div class="input-output-area">
        <div>
            <div><label for="jsonInput">JSON Input:</label></div>
            <textarea class="json-box" @bind="State.InputJson"
                autofocus rows="15" cols="100" id="jsonInput" spellcheck="false" @ref="_inputBoxRef"
                placeholder="Paste your favorite JSON data here">
            </textarea>
        </div>
        <button type="button" @onclick="State.DoFormat">Format</button>
        <button type="button" @onclick="SetSamplePureJson">Sample Data (no comments)</button>
        <div>
            <div><label for="jsonOutput">Formatted Output:</label></div>
            <textarea class="json-box" @bind="State.OutputJson"
                rows="15" cols="100" id="jsonOutput" spellcheck="false"
                placeholder="Formatted JSON will appear here">
            </textarea>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public WebFormatterState State { get; init; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await _inputBoxRef.FocusAsync();
    }

    private void SetSamplePureJson()
    {
        State.InputJson = _samplePureJson.Replace('\'', '"');
        State.OutputJson = string.Empty;
    }

    private ElementReference _inputBoxRef;

    // Sample JSON.  I've replaced quotes with apostrophes to avoid escapes which make it hard to read.
    private const string _samplePureJson = "{'SimpleArray':[2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101,103,107,109,113],'ObjectColumnsArrayRows':{'Katherine':['blue','lightblue','black'],'Logan':['yellow','blue','black','red'],'Erik':['red','purple'],'Jean':['lightgreen','yellow','black']},'ArrayColumnsObjectRows':[{'type':'turret','hp':400,'loc':{'x':47,'y':-4},'flags':'S'},{'type':'assassin','hp':80,'loc':{'x':12,'y':6},'flags':'Q'},{'type':'berserker','hp':150,'loc':{'x':0,'y':0}},{'type':'pittrap','loc':{'x':10,'y':-14},'flags':'S,I'}],'ComplexArray':[[19,2],[3,8],[14,0],[9,9],[9,9],[0,3],[10,1],[9,1],[9,2],[6,13],[18,5],[4,11],[12,2]]}";


}
