textarea {
    width: 100%;
}

.whole-sandbox {
    display: grid;
    grid-template-columns: max-content auto;
}

.settings-sidebar {
    grid-area: 1 / 1 / 1 / 1;
}

.input-output-area {
    grid-area: 1 / 2 / 1 / 2;
}
