/* /Pages/FormatterSandbox.razor.rz.scp.css */
textarea[b-rwev8vtjdl] {
    width: 100%;
}

button.fmt-btn[b-rwev8vtjdl] {
    padding: 6px 6px 6px 6px;
    font-weight: bold;
}

.whole-sandbox[b-rwev8vtjdl] {
    display: grid;
    grid-template-columns: max-content auto;
}

.settings-sidebar[b-rwev8vtjdl] {
    grid-area: 1 / 1 / 1 / 1;
}

.input-output-area[b-rwev8vtjdl] {
    grid-area: 1 / 2 / 1 / 2;
}
/* /Shared/MainLayout.razor.rz.scp.css */
img.logo[b-3gw20cy5x7] {
    width: 100px;
    grid-area: 1 / 1 / 1 / 1;
}

.page[b-3gw20cy5x7] {
    display: grid;
    grid-template-rows: max-content auto;
}

.main-banner[b-3gw20cy5x7] {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template-columns: max-content auto;
}

h1[b-3gw20cy5x7] {
    margin: 8px;
}
/* /Shared/SettingsPanel.razor.rz.scp.css */
input.number[b-vaypuude8n] {
    width: 5em;
}

.section-label[b-vaypuude8n] {
    font-weight: bold;
    padding-top: 1ch;
}

h2[b-vaypuude8n] {
    margin: 6px 0 6px 0;
}
