.page {
    height: 100%;
    display: grid;
    grid-template-areas:
        "h h"
        "s b"
        "s m";
    grid-template-columns: minmax(min-content, auto) 1fr;
    grid-template-rows: minmax(min-content, auto) auto 1fr;
}

.header {
    background-color: #26b050;
    grid-area: h;
}

.side {
    background-color: #c02d76;
    grid-area: s;
    overflow: scroll;
}

.buttons {
    background-color: darkgoldenrod;
    grid-area: b;
}

.main {
    background-color: #b32121;
    grid-area: m;
}

.json-area-stack {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.json-area-side {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.json-area-unified {
    height: 100%;
    display: grid;
}

.json-panel {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.json-panel > textarea {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
}

.app { height: 100vh; }