.page {
    height: 100%;
    display: grid;
    grid-template-areas:
        "h h"
        "s b"
        "s m";
    grid-template-columns: minmax(min-content, auto) 1fr;
    grid-template-rows: minmax(min-content, auto) auto 1fr;
}

.header {
    grid-area: h;
}

.side {
    grid-area: s;
    overflow: scroll;
}

.buttons {
    grid-area: b;
}

.main {
    grid-area: m;
}

.json-area-stack {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.json-area-side {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.json-area-unified {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.json-panel {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.json-panel > textarea {
    width: 100%;
    height: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    background-color: var(--json-background);
    color: var(--json-text);
}

.json-error {
    color: var(--text-color);
    background-color: var(--error-background);
}

.app { height: 100vh; }