@page "/test2"

<div class="page">
    <div class="header">

    </div>
    <div class="side">

    </div>
    <div class="buttons">

    </div>
    <div class="main">

    </div>
</div>




@code {

}