.page {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, auto) 1fr;
    grid-template-rows: minmax(min-content, auto) 1fr;
}

.header {
    background-color: #26b050;
    height: 100px;
    grid-area: 1/ 1/ 1/ 3;
}

.side {
    background-color: #c02d76;
    width: 100px;
    grid-area: 2/ 1/ 3/ 2;
}

.main {
    background-color: #b32121;
    height: 100%;
    width: 100%;
    grid-area: 2/ 2/ 3/ 3;
}
