.page {
    height: 100%;
    display: grid;
    grid-template-areas:
        "h h"
        "s b"
        "s m";
    grid-template-columns: minmax(min-content, auto) 1fr;
    grid-template-rows: minmax(min-content, auto) 1fr 1fr;
}

.header {
    background-color: #26b050;
    grid-area: h;
    height: 100px;
}

.side {
    background-color: #c02d76;
    grid-area: s;
    width: 100px;
}

.buttons {
    background-color: darkgoldenrod;
    height: 75px;
}

.main {
    background-color: #b32121;
    grid-area: m;
    height: 100%;
    width: 100%;
}
